 <!--final message container-->
 <div class="popup-container" id="popup-container">
    <div class="popup">
        <h2 id="final-message">Bravo, tu as gagné !</h2>
        <button id="play-button">Rejouer</button>
    </div>
</div>

<!--Notification-->
<div class="notification-container" id="notification-container">
    <p>Tu as déjà essayé cette lettre !</p>
</div>