<div class="virtual-keyboard-container">
    <div>
        <button class="virtual-key">A</button>
        <button class="virtual-key">Z</button>
        <button class="virtual-key">E</button>
        <button class="virtual-key">R</button>
        <button class="virtual-key">T</button>
        <button class="virtual-key">Y</button>
        <button class="virtual-key">U</button>
        <button class="virtual-key">I</button>
        <button class="virtual-key">O</button>
        <button class="virtual-key">P</button>
    </div>
    <div>
        <button class="virtual-key">Q</button>
        <button class="virtual-key">S</button>
        <button class="virtual-key">D</button>
        <button class="virtual-key">F</button>
        <button class="virtual-key">G</button>
        <button class="virtual-key">H</button>
        <button class="virtual-key">J</button>
        <button class="virtual-key">K</button>
        <button class="virtual-key">L</button>
        <button class="virtual-key">M</button>
    </div>
    <div>
        <button class="virtual-key">W</button>
        <button class="virtual-key">X</button>
        <button class="virtual-key">C</button>
        <button class="virtual-key">V</button>
        <button class="virtual-key">B</button>
        <button class="virtual-key">N</button>
    </div>
</div>