/*
 ***************************
NAV
 ***************************
 */
nav,
.nav-extended {
    background-color: var(--navbar-bg) !important;
}

.nav-wrapper,
.nav-wrapper .s12 {
    background-color: var(--navbar-bg) !important;
}

.brand-logo {
    margin: 8px;
}
.brand-logo img {
    max-width: 32px;
}

#mobile-demo {
    background-color: rgba(0, 0, 0, 0.753);
}